<!-- Form that must be filled in to create a new user account -->
<div class="container padded-top body-container">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3">
      <div class="form-content">
        <!-- Give the user the option to sign in with Facebook -->
        <%= link_to "Sign up with Facebook", omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form" %>

        <!-- A nice break between the two options -->
        <div class="padded-top-bottom text-center padded-top">
          <p>or</p>
        </div>

        <!-- Or they can sign up with an email, name, etc. -->
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, required: true, autofocus: true, placeholder: "First Name", label: false %>
            <%= f.input :last_name, required: true, autofocus: true, placeholder: "Last Name", label: false %>
            <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Password", label: false %>
            <%= f.input :password_confirmation, required: true, placeholder: "Confirm Password", label: false %>
          </div>
          <!-- Sign Up -->
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn-facebook btn-form btn-form-unpolarise" %>
          </div>
          <!-- Redirect user to the sign in page (for when they are already a user) -->
          <div class="form-actions">
            <%= link_to "Log in", new_session_path(resource_name), class: "btn-facebook btn-form btn-form-unpolarise" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
