<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @article do |f| %>
        <%= f.label :title, "Title" %>
        <%= f.text_field :title %>

        <%= f.label :summary, "Summary" %>
        <%= f.text_area :summary %>

        <%= f.label :url, "Content" %>
        <%= f.text_area :url %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

