<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @article do |f| %>


        <div id="error_explanation">
          <ul><% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %></ul>
        </div>

        <%= f.label :title, "Title" %>
        <%= f.text_field :title %>

        <%= f.label :summary, "Summary" %>
        <%= f.text_area :summary %>

        <%= f.label :url, "URL" %>
        <%= f.text_area :url %>

        <%= f.label :price, "Price per day" %>
        <%= f.text_field :price %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

