<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>All articles</h2>
    </div>
  </div>

  <!-- Link to add a new article -->
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9">
      <%= link_to "Share new article", new_article_path %>
    </div>
  </div>


  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!-- One card per booking linking to the article page -->
        <%= link_to article_path(article) do %>
          <div class="card">
            <h3><%= article.title.capitalize %></h3>

            <!-- Author (name shown if provided at signup) and date added -->
            <h4><em>By <%= "#{article.user.first_name} #{article.user.last_name[0]}." if (article.user.first_name && article.user.first_name) %></em></h4>
            <p><em>Posted on <%= article.created_at.to_date %></em></p>

            <!-- Average review -->
            <p>
              <% average_rating = article.reviews.reduce(0){|sum, r| sum + r.rating} / article.reviews.length.to_f %>
              <% 1.upto(5) do |i| %>
                <% if i <= average_rating %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% elsif (i-1..i).include? average_rating  %>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <% else %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
               <% end %>
              <% end %>
              <p><em>(<%= article.reviews.length %> reviews)</em></p>
            </p>
            <p><em><%= article.summary %></em></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
