<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-3">
        <h2 class="card-small-title">All articles</h2>
      </div>
      <!-- Link to add a new article -->
      <div class="col-xs-2 col-xs-offset-7 padded-top btn-main-unpolarise">
        <%= link_to "Share new article", new_article_path %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if @articles %>
      <!-- Display only if no search has been made -->
      <% if !(params[:search]) %>

        <!-- Displaying one first article in a featured way -->
        <div class="col-xs-12 col-sm-12 col-md-12">
          <% featured = @articles.first %>
          <!-- One card per booking linking to the article page -->
            <div class="card-large">
              <%= link_to article_path(featured) do %>
                <h3 class="card-small-title"><%= featured.title.capitalize %></h3>
              <% end %>
              <div class="card-small-content">
                <!-- Author (name shown if provided at signup) and date added -->
                <h4>By <%= "#{featured.user.first_name} #{featured.user.last_name[0]}." if (featured.user.first_name && featured.user.first_name) %></h4>
                <p>Posted on <%= featured.created_at.to_date %></p>

                <!-- Average review -->
                <p>
                  <% average_rating = featured.reviews.reduce(0){|sum, r| sum + r.rating} / featured.reviews.length.to_f %>
                  <% 1.upto(5) do |i| %>
                    <% if i <= average_rating %>
                      <i class="fa fa-star icon" aria-hidden="true"></i>
                    <% elsif (i-1..i).include? average_rating  %>
                      <i class="fa fa-star-half-o icon" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-star-o icon" aria-hidden="true"></i>
                    <% end %>
                  <% end %>
                  <p>(<%= featured.reviews.length %> reviews)</p>
                </p>
                <p><%= featured.summary %></p>
              </div>
            </div>
        </div>

      <% end %>

      <!-- Displaying all the other articles in smaller cards -->


      <% @articles.each do |article| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!-- One card per booking linking to the article page -->
          <%= link_to article_path(article) do %>
            <div class="card-small">
              <h3 class="card-small-title"><%= article.title.capitalize %></h3>

              <div class="card-small-content">
                <!-- Author (name shown if provided at signup) and date added -->
                <h4>By <%= "#{article.user.first_name} #{article.user.last_name[0]}." if (article.user.first_name && article.user.first_name) %></h4>
                <p>Posted on <%= article.created_at.to_date %></p>

                <!-- Average review -->
                <p>
                  <% average_rating = article.reviews.reduce(0){|sum, r| sum + r.rating} / article.reviews.length.to_f %>
                  <% 1.upto(5) do |i| %>
                    <% if i <= average_rating %>
                      <i class="fa fa-star icon" aria-hidden="true"></i>
                    <% elsif (i-1..i).include? average_rating  %>
                      <i class="fa fa-star-half-o icon" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-star-o icon" aria-hidden="true"></i>
                   <% end %>
                  <% end %>
                  <p>(<%= article.reviews.length %> reviews)</p>
                </p>
                <p><%= article.summary %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
