<div class="container">

  <div class="row">

    <div class="col-xs-8">

      <h2><%= @article.title %></h2>
      <p><em><%= @article.summary %></em></p>
      <p>(£ <%= @article.price %> per day) </p>
      <%= link_to @article.url, @article.url %>

    </div>

    <div class="col-xs-4">
      <%= render 'bookings/new' %>
    </div>

  </div>

  <br>


  <div class="row">
    <div class="col-xs-12">
      <h3>All reviews for <%= @article.title %></h3>
    </div>
  </div>

  <br>

  <% @article.reviews.each do |review| %>
    <div class="row">

      <div class="col-xs-3">
        <% 1.upto(5) do |i| %>
          <% if i <= review.rating %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
         <% end %>
        <% end %>
      </div>


      <div class="col-xs-9">
        <p><em><%= review.content %></em></p>
      </div>

    </div>
    <hr>

  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <% if current_user %>
        <h4>Leave a review</h4>
        <%= render template: 'reviews/new' %>
      <% end %>
    </div>
  </div>


</div>
