<%= simple_form_for [@article, @booking] do |f| %>
  <!-- USER INPUTS: DATES -->
  <%= f.input :start_date, as: :string, input_html: {class: "datepicker", id: "start"} %>
  <%= f.input :end_date, as: :string, input_html: {class: "datepicker", id: "end"} %>

  <hr>
  <p id="price_per_day">Price per day: £ <%= @article.price %></p>
  <%= f.submit %>
<% end %>

<!-- ANIMATION -->
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $(".datepicker").on("change", function() {
        var start = $('#start').val();
        var end = $('#end').val();
        var price = (<% @article.price %>);

        if ( start && end && end > start ) {
          var days = Math.round((end - start) / (1000 * 60 * 60 * 24));
          var total = days * price;
          var display_days = "<p><strong>Total days: " + days + "</strong></p>";
          var display_price = "<hr><p><strong>Total price: £ " + total + "</strong></p>";
          $('#price_per_day').prepend(display_days);
          $('#price_per_day').append(display_price);
        };

      })
    });
  </script>
<% end %>








