<%= simple_form_for [@article, @booking] do |f| %>
  <!-- USER INPUTS: DATES -->
  <%= f.input :start_date, as: :string, input_html: {class: "datepicker", id: "start"} %>
  <%= f.input :end_date, as: :string, input_html: {class: "datepicker", id: "end"} %>

  <hr>
  <p id="price_per_day">Price per day: £ <%= @article.price %></p>
  <%= f.submit %>
<% end %>
