<%= simple_form_for [@article, @booking] do |f| %>
  <!-- USER INPUTS: DATES -->
  <%= f.input :start_date, as: :string, input_html: {class: "datepicker", id: "start"} %>
  <%= f.input :end_date, as: :string, input_html: {class: "datepicker", id: "end"} %>
  <%= f.submit %>
  <hr>
  <p id="price_per_day">Price per day: £ <%= 0 %></p>
<% end %>



<!-- ANIMATION -->
<%# content_for(:after_js) do %>
  <%# javascript_tag do %>

  <!-- $(document).ready(function() {

    $('.datepicker').datepicker( {
     onSelect: function(date) {

      $('#price_per_day').prepend('<p>Access days: <%=  %></p>')
      $('#price_per_day').append('<hr><p><strong>Total price: £ <%=  %></strong></p>
      <br>')
       },
    });
  }); -->

  <%# end %>
<%# end %>
