<%= form_for [@article, @booking] do |f| %>

  <%= f.label :start_date %>
  <input type="text" id="datepicker" name="booking.start_date">

  <%= f.label :end_date %>
  <input type="text" id="datepicker" name="booking.end_date">

  <hr>

  <!-- Pricing information -->

  <!-- HIDDEN - Calculating booking days -->
  <% @booking.start_date ||= Date.today %>
  <% @booking.end_date ||= Date.today %>
  <% booking_days ||= (@booking.end_date - @booking.start_date).to_i %>

  <!-- DISPLAYED - Booking days and price per day -->
  <p>Access days: <%= booking_days %></p>
  <p>Price per day: £ <%= @article.price %></p>

  <hr>

  <!-- HIDDEN - Calculating total price -->
  <% total_price = booking_days * @article.price %>

  <!-- DISPLAYED - Total price -->
  <p><strong>Total price: £ <%= total_price %></strong></p>

  <!-- HIDDEN - Rendering the value of price attribute calculated in the view form to the controller -->
  <% f.hidden_field :price, value: total_price %>

  <%= f.submit %>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      <!-- CODE FOR BOOKING FORM -->
    });
  <% end %>
<% end %>
