<!-- Page that displays all of a user's articles -->
<div class="container body-container">
  <!-- Title -->
  <div class="row text-center">
    <div class="col-xs-12">
      <h2 class="header">Your Articles</h2>
    </div>
  </div>
  <!-- Button to add a new article to the site -->
  <div class="row text-center">
    <div class="col-xs-12">
      <%= link_to "SHARE NEW ARTICLE", new_article_path, class: "btn-main-unpolarise text-center" %>
    </div>
  </div>
  <!-- Cards for each of the articles -->
  <div class="row cards">
    <% @user.articles.each do |article| %>
      <div class="col-xs-10 col-sm-5 col-md-4">
        <!-- One card per booking linking to the article page -->
          <div class="card-small">
            <!-- !!!!!!!!!!!!!!!!!!!!! Article image to go here -->
            <%= link_to article_path(article) do %>
              <h3 class="card-small-title"><%= article.title.capitalize %></h3>
            <% end %>
            <div class="card-small-content">
              <!-- Date added -->
              <p>Posted on <%= article.created_at.to_date %></p>
              <!-- Fontawesome icons for edit and delete -->
              <%= link_to edit_article_path(article) do %>
                <i class="fa fa-pencil-square-o icon" aria-hidden="true"></i>
              <% end %>
              <%= link_to article_path(article), method: :delete do %>
                <i class="fa fa-trash-o icon" aria-hidden="true"></i>
              <% end %>
              <!-- Average review -->
              <p>
                <% average_rating = article.reviews.reduce(0){|sum, r| sum + r.rating} / article.reviews.length.to_f %>
                <% 1.upto(5) do |i| %>
                  <% if i <= average_rating %>
                    <i class="fa fa-star icon" aria-hidden="true"></i>
                  <% elsif (i-1..i).include? average_rating  %>
                    <i class="fa fa-star-half-o icon" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-star-o icon" aria-hidden="true"></i>
                 <% end %>
                <% end %>
                <p><em>(<%= article.reviews.length %> reviews)</em></p>
              </p>
              <p><span class="italic"><%= article.summary %></span></p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
