<!-- Form to add a new review -->
<%= simple_form_for [article, review] do |f| %>
  <div id="error_explanation">
      <ul><% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></ul>
  </div>




      <div class="col-xs-3">
        <%= f.input :rating, as: :select, collection: (1..5), label: false, id: "rating" %>
      </div>

      <div class="col-xs-8">
          <%= f.input :content, label: false %>
          <%= f.submit class: "btn-form-unpolarise text-center custom-width" %>
      </div>


<% end %>


