<!-- Form to add a new review -->
<%= simple_form_for([article, review], remote: true) do |f| %>
  <div id="error_explanation">
      <ul><% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></ul>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-9">
        <%= f.input :rating, as: :select, collection: (1..5), label: false, id: "rating" %>
      </div>

      <div class="col-xs-9">
          <%= f.input :content, label: false %>
      </div>
    </div>

    <div class="row">
      <div>
        <%= f.submit class: "col-xs-12 btn-main-unpolarise text-center" %>
      </div>
    </div>

  </div>
<% end %>


